<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="app-logoap"> 

        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/florencia-f-033636276/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/econocimientoar"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/flor.m096/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/flor543/"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/people/Flor-Encia/pfbid0R8Zw6ovpBgyrCWRx87MnC8pyymQYAjDzQZkpirUkjBbGYTpABzZpnwZXQNtDEKtLl/"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-dark" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>
        
            
          </div>
    </div>
</div>

