<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2023-04-05 at 23.27.13.png" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre">Ferreyra Florencia</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi numquam repudiandae autem dolor officia asperiores qui sed sint temporibus totam atque dolores, nemo ducimus rerum ad reprehenderit, facere odio nihil!
            </p>
        </span>
    </div>
</div>